<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i>Socio</h1>
<p>This is a social App, Upcoming future</p>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>